/* styles/globals.css */

/* Reset de estilos */
html,
body,
#__next {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Definições globais de fonte, cor de fundo, etc. */
body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
}

/* Estilos globais para links */
a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilos globais para inputs */
input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

/* Outros estilos globais que você deseja aplicar */
